/*/ ///////////////////////////////// ------- //////////////////////////////////////////*/
@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
    background: #ffbd69;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
/*/ ///////////////////////////////// Header //////////////////////////////////////////*/

.header {
    margin: 1em;
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    text-align: center;
}

/*/ ///////////////////////////////// Board //////////////////////////////////////////*/

.board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1em;
    row-gap: 1em;
}

.board > div > div {
    background: #f37121;
    padding: 1vw;
}

/*/ ///////////////////////////////// Flip Card //////////////////////////////////////////*/

.cardContainer {
    margin: auto;
    color: #090f33;
}
.flip-card {
    border-radius: 0.5em;
    width: 13vw;
    height: 13vw;
    max-height: 50vw;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    border-radius: 0.5em;
    background-color: #111d5e;
    border: solid #090f33;
}

.flip-card-back {
    border-radius: 0.5em;
    background-size: cover;
    transform: rotateY(180deg);
    border: solid #090f33;
}

.flip-card.hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card.match .flip-card-inner {
    transform: rotateY(540deg);
    opacity: 0.5;
}

/*/ ///////////////////////////////// Images //////////////////////////////////////////*/

.kjjj {
    background-image: url('../img/kjjj.jpeg');
}
.milazzo {
    background-image: url('../img/milazzo.jpeg');
}
.ravenna {
    background-image: url('../img/ravenna.jpeg');
}
.santos {
    background-image: url('../img/santos.jpeg');
}
.lampone {
    background-image: url('../img/lampone.jpeg');
}
.medina {
    background-image: url('../img/medina.jpg');
}

/*/ ///////////////////////////////// Success //////////////////////////////////////////*/

.success {
    line-height: 1.2;
    text-align: center;
    color: #111d5e;
}

.success-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
}

.img {
    margin: auto auto;
    border: 5px solid #f37121;
    border-radius: 1.5em;
}

.hide {
    display: none;
}

/*/ ///////////////////////////////// Button //////////////////////////////////////////*/

.button {
    border: 2px solid #090f33;
    border-radius: 2em;
    color: #ffffff;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    transition: none 500ms ease-out;
    transition-property: color, background;
    background: #c70039;
}

.button:hover {
    border: 2px solid #090f33;
    background: #f7450f;
    color: #ffffff;
    opacity: 1;
}

.button:focus {
    outline: 0 !important;
}

/*/ ///////////////////////////////// Panel //////////////////////////////////////////*/

.panel {
    border: 2px solid #090f33;
    border-radius: 0.5em;
    color: #ffffff;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    padding: 1em 2em;
    transition: none 500ms ease-out;
    transition-property: color, background;
    background: #c70039;
    opacity: 1;
}
