/*/ ///////////////////////////////// ------- //////////////////////////////////////////*/
/*/ ///////////////////////////////// Header //////////////////////////////////////////*/

.header {
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
}

/*/ ///////////////////////////////// Board //////////////////////////////////////////*/
.board-parent {
    padding: 0 10%;
}
.board {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 0 auto;
}
.board > div > div {
    background: #ddd;
    padding: 1vw;
}

/*/ ///////////////////////////////// Flip Card //////////////////////////////////////////*/

.flip-card {
    width: 15vw;
    height: 15vw;
    max-width: 180px;
    max-height: 180px;
    perspective: 1000px;
    cursor: pointer;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.flip-card.hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-front {
    background-color: #bbb;
    border: solid #444;
}

.flip-card-back {
    background-size: cover;
    color: white;
    transform: rotateY(180deg);
    border: solid #444;
}

/*/ ///////////////////////////////// Images //////////////////////////////////////////*/

.kjjj {
    background-image: url('../img/kjjj.jpeg');
}
.milazzo {
    background-image: url('../img/milazzo.jpeg');
}
.ravenna {
    background-image: url('../img/ravenna.jpeg');
}
.santos {
    background-image: url('../img/santos.jpeg');
}
.lampone {
    background-image: url('../img/lampone.jpeg');
}
.medina {
    background-image: url('../img/medina.jpg');
}
